
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Quicksand', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#time {
    font-size: 60px;
}

h1 {
    opacity: 0.9;
    margin-top: 15px;
    margin-bottom: 20px;
}

h2, h3 {
    opacity: 0.6;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    #time {
        font-size: 48px;
    }
}
